NEXT_PUBLIC_SUPABASE_URL=https://hkqrvjoeetwapomffbvj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcXJ2am9lZXR3YXBvbWZmYnZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5OTMwNTEsImV4cCI6MjA5MzU2OTA1MX0.kpAEq3NGlqrU2QwmSqXvOA19xgUDmJfzfjpCWBIJL7E

